  .label {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
  }

  .label input {
    opacity: 0;
    width: 0;
    height: 0;
  }

  .slider {
    position: absolute;
    cursor: pointer;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-image: url('../assets/night-sky.png');
    background-size: contain;
    transition: .4s;
    border-radius: 34px;
  }

  .slider:before {
    position: absolute;
    content: "";
    height: 26px;
    width: 26px;
    left: 4px;
    bottom: 4px;
    background-image: url('../assets/moon.png');
    background-size: cover;
    transition: .4s;
    border-radius: 50%;
  }

  input:checked + .slider {
    background-image: url('../assets/day-sky.png');
  }

  input:checked + .slider:before {
    transform: translateX(26px);
    background-image: url('../assets/sun.png');
  }